.rule-line {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 2px;
	background-color: orange;
	z-index: 99;
}

.col-resize {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 8px;
	z-index: 1;
	cursor: col-resize;
}
