.rule-line {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 1px;
	background-color: orange;
}

.col-resize {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 5px;
	z-index: 1;
	cursor: col-resize;
}
